
body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 28 \2502  \250c      @include for-tablet-portrait-up {\a 29 \2502  \2502          max-width: $breakpoint-desktop;\a 30 \2502  \2514      }\a    \2575 \a   assets\\scss\\layout\\_grid.scss 28:5  @import\a   assets\\scss\\_main.scss 4:9          root stylesheet";
}
